<div class="container">
  <div class="cards">
    <% @routes.each do |route|%>
      <%= link_to routes_path(route) do %>
        <div class="card-route">
          <%= image_tag route.photos.first.photo %>
          <div class="card-route-info">
            <div>
              <h2><%= route.name %></h2>
              <p><%= route.city.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
