<div id="homepage-banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1386&q=80);">
  <div>
    <h1 class="row justify-content-center">Welcome to GoClimb</h1>
    <h2 class="row justify-content-center typed">
     <span id="banner-typed-text"></span>
    </h2>
  </div>
  <div class="row justify-content-center" id="search-box">

    <%= form_tag(routes_path, method: :get) do %>
        <%= text_field_tag :query, params[:query], :placeholder => "Find equipment", class: "form-control", id: "landing-page-search-form" %>
    <% end %>
  </div>
</div>
