
<%= render partial: "shared/navBar" %>


<div class="subNavbar">
  <div class="subNavbar-links">
    <ul class="nav subNavbar-links" id="myTab" role="tablist">
      <li>
        <a class="subNavbarLink active" id="profile-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
      </li>
      <li>
        <a class="subNavbarLink" id="settings-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
      </li>
      <li>
        <a class="subNavbarLink" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home2" aria-selected="false">Route Setter</a>
      </li>
    </ul>
  </div>
</div>


<div class="container">
  <div class="full-height-profile">
    <div class="tab-content" id="myTabContent">


      <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home1-tab">
        <%= render partial: "shared/index-route-card", object: @route%>
        <p>Hello</p>
      </div>


      <div class="tab-pane fade show" id="home2" role="tabpanel" aria-labelledby="home2-tab">

    </div>
  </div>
</div>

      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p>Hello 3</p>
        <%# render partial: "shared/profile-page-cards", object: @route%>
      </div>
    </div>
  </div>
</div>

