.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 120vh;
  margin-bottom: 10px;
  position: relative;
  margin-top: 0;
  width: 100%;
  h2 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    font-size: 40px;
    font-weight: bold;
    @media (min-width: 576px) {
      font-size: 40px;
    }
    @media (min-width: 992px) {
      font-size: 30px;
    }
  }
}

.banner-images{
  height: 80vh;
}
#landing-page-search-form {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  width: 450px;
  margin-top: 40px;
}
@media (max-width: 992px){
.banner {
  height: 100%;
}
}

@media (min-width: 576px){
  #landing-page-search-form {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);

  }
}
@media (min-width: 992px){
  #landing-page-search-form {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
  }
}

.notice {
  padding-top: 10px;
  padding-bottom: 32px;
  background-color: #66CD00;
  color: white;
  font-family: 'Poppins', 'sans-serif';
  height: 32px;
  text-align: center;
}

#banner-logo {
  height: 100px;
  width: 100px;
}

@media (min-width: 576px){
  #banner-logo {
    height: 500px;
    width: 500px;
  }
}
@media (min-width: 992px){
  #banner-logo {
    height: 300px;
    width: 300px;
  }
}
.homepage-banner-content{
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
}
