.card-route {
  overflow: hidden;
  height: 100%;
  transition: 0.5s;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: 16px;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
    @media (min-width: 576px){
      font-size: 26px;
    }
    @media (min-width: 992px){
      font-size: 16px;
    }
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    color: black;
    @media (min-width: 576px){
      font-size: 20px;
    }
    @media (min-width: 992px){
      font-size: 12px;
    }
  }
  img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
.card-route:hover{
  transform: scale(1.05);
}

.card-route .card-route-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: $medium-gray;

  .edit_joint_user_trip {
    margin-bottom: 15px;
  }
}


.form-card-route-setter {
  color: $medium-gray;
}


.card-route-index{
  margin-top: 8px;
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.7s;
  position: relative;
  border-radius: 5px;
  img{
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
  h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: black;
    @media (min-width: 576px){
      font-size: 24px;
    }
    @media (min-width: 992px){
      font-size: 18px;
    }
  }
  p{
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
    @media (min-width: 576px){
      font-size: 18px;
    }
    @media (min-width: 992px){
      font-size: 12px;
    }
  }
  .photo-suggestions-div {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.card-route-index:hover{
  transform: scale(1.05);
}


.card-route-show{
  display: grid;
  grid-template-columns: 2fr 600px;
  grid-gap: 8px;
  margin-bottom: 40px;
  height: 600px;
  @media (min-width: 576px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 2fr 600px;
  }

  .image-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
    .button-green{
      margin-top: -25px;
    }
  }
  .subNavbar{
    justify-content: space-between;
  }
  .subnavbar-show{
    width: 100%
  }
  #description{
    margin-top: 24px;
    color: #6C6C6C;
    max-height: 100%;
    overflow-y: scroll;
    p {
      font-size: 18px;
    }
    h5 {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  #technical-details{
    margin-top: 24px;
    color: #6C6C6C;
    max-height: 100%;
    overflow-y: scroll;
    p {
      font-size: 18px;
      font-weight: bold;
    }
    a{
      color: #6C6C6C;
    }
    a:hover{
      text-decoration: none;
      color: rgba(108, 108, 108, 0.5)
    }
  }
  #reviews{
    max-height: 438px;
    overflow-y: scroll;
    word-break: break-all;
    overflow-x: hidden;
  }
}

.card-review{
  background-color: white;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 4px;

  img {
    width: 70px;
    height: 70px;
    margin-right: 16px;
    margin-right: 16px;
    box-shadow: 1px 1px 10px #00000014;
  }

  .review-user {
    p:first-child {
      margin-bottom: 0;
    }

    p:last-child {
      color: rgb(148, 148, 148);
    }
  }

  .dropdown {
    i {
      padding: 10px;
      color: #a5a5a5;
      cursor: pointer;
      font-size: 20px;
    }

    a {
      color: #404040;
      padding: 0 20px;
    }
  }

  span {
    font-size: 24px;
    color: #ffeb41;
  }

  .review-description {
    margin-top: 20px;

    p {
      color: #7b7b7b;
      font-weight: 300;
      margin: 0px;
    }
  }


  // margin: 8px 0;
  // padding: 7px 34px;
  // display: flex;
  // align-items: center;
  // background-color: #EAEAEA;
  // overflow: scroll;
  // color: #6C6C6C;
  // position: relative;
  // p{
  //   margin: 0;
  //   font-size: 12px;
  //   width: 90%;
  // }
  // img{
  //   position: absolute;
  //   left: 3px;
  // }
  // a{
  //   position: absolute;
  //   right: 15px;
  // }
  // a:hover {
  //   color: red;
  // }
}

#photo-card-route-setter {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.avatar_photo_card{
  display: flex;
  margin-top: 8px;

  p {
  margin-left: 8px;
  }
}

.map-card{
  border-radius: 5px;
}

.card-route-index-info{
    padding: 16px;
    i {
      position: absolute;
      right: 16px;
      top: 16px;
      color: #C8C8C8;
      transition: 0.3s;
    }
    i:hover {
      color: #42433e;
    }
}

.profile-card {
  color: $medium-gray;
}

.route-info {
  display: flex;
  justify-content: space-between;
}