.cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
@media (min-width: 750px){
  .cards{
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 992px){
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.cards a:hover{
  text-decoration: none;
}
.card-route {
  height: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.5s;
  //margin: 10px 0;

  &.next-trip:first-child {
    margin-top: 20px;
  }

  &.next-trip:last-child {
    margin-bottom: 40px;
  }

  &.trip {
    .card-route-info {
      display: block;
    }
  }
}
.card-route:hover{
  transform: scale(1.05);
}
.card-route > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-route p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}
.card-route .card-route-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;

  .edit_joint_user_trip {
    margin-bottom: 15px;
  }
}

.card-route-index{
  margin-top: 8px;
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.7s;
  position: relative;
  border-radius: 5px;
  img{
    height: 120px;
    width: 120px;
    object-fit: cover;

  }
  h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: black;
  }
  p{
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
  }
  .photo-suggestions-div {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.card-route-index:hover{
  transform: scale(1.05);
}

.card-route-show{
  display: grid;
  grid-template-columns: 2fr 600px;
  grid-gap: 8px;
  margin-bottom: 40px;
  height: 600px;

  .image-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
    .button-green{
      margin-top: -25px;
    }
  }
  .subNavbar{
    justify-content: space-between;
  }
  .subnavbar-show{
    width: 100%
  }
  #description{
    margin-top: 24px;
    color: #6C6C6C;
    max-height: 100%;
    overflow-y: scroll;
    p {
      font-size: 18px;
    }
    h5 {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  #technical-details{
    margin-top: 24px;
    color: #6C6C6C;
    max-height: 100%;
    overflow-y: scroll;
    p {
      font-size: 18px;
      font-weight: bold;
    }
    a{
      color: #6C6C6C;
    }
    a:hover{
      text-decoration: none;
      color: rgba(108, 108, 108, 0.5)
    }
  }
  #reviews{
    max-height: 438px;
    overflow-y: scroll;
    word-break: break-all;
    overflow-x: hidden;
  }
}

.card-review{
  margin: 8px 0;
  padding: 7px 34px;
  display: flex;
  align-items: center;
  background-color: #EAEAEA;
  overflow: scroll;
  color: #6C6C6C;
  position: relative;
  p{
    margin: 0;
    font-size: 12px;
    width: 90%;
  }
  img{
    position: absolute;
    left: 3px;
  }
  a{
    position: absolute;
    right: 15px;
  }
  a:hover {
    color: red;
  }
}


.avatar_photo_card{
  display: flex;
  margin-top: 8px;
  p {
  margin-left: 8px;
  }
}
.map-card{
  border-radius: 5px;
}

.card-route-index-info{
    padding: 16px;
    i {
      position: absolute;
      right: 16px;
      top: 16px;
      color: #C8C8C8;
      transition: 0.3s;
    }
    i:hover {
      color: #42433e;
    }
}



