.card-route {
  overflow: hidden;
  height: 500px;
  transition: 0.5s;
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 992px) {
    height: 380px;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: black;
    @media (min-width: 992px){
      font-size: 16px;
    }
  }
  p {
    font-size: 32px;
    opacity: .7;
    margin: 0;
    color: black;
    @media (min-width: 992px){
      font-size: 16px;
    }
  }
  img{
    height: 320px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 992px) {
      height: 280px;
    }
  }
}
.card-route:hover{
  transform: scale(1.05);
}

.card-route .card-route-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: $medium-gray;

  .edit_joint_user_trip {
    margin-bottom: 15px;
  }
}


.form-card-route-setter {
  color: $medium-gray;
}


.card-route-index{

  margin-bottom: 8px;
  overflow: hidden;
  height: 175px;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.7s;
  position: relative;
  border-radius: 5px;
  @media (min-width: 992px) {
    height: 120px;
    margin-top: 8px;
  }
  img{
    height: 175px;
    width: 220px;
    object-fit: cover;
    @media (min-width: 992px) {
      width: 120px;
      height: 120px;
    }
  }
  h2{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    color: black;
    @media (min-width: 992px){
      font-size: 18px;
    }
  }
  p{
    font-size: 28px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
    @media (min-width: 992px){
      font-size: 14px;
    }
  }
  .photo-suggestions-div {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
  }
}
.card-route-index:hover{
  transform: scale(1.05);
}


.card-route-show{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  margin-bottom: 40px;
  @media (min-width: 992px) {
    height: 600px;
    grid-template-columns: 2fr 600px;
    margin: 30px 0 50px 0;
  }

  .image-show{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
    .button-green{
      margin-top: -25px;
      font-size: 24px;
      z-index: 100;
    }
  }
  .subNavbar{
    justify-content: space-between;
  }
  .subnavbar-show{
    width: 100%
  }
  .subnavbar-show li{
    a {
      font-size: 26px;
      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }
  #description{
    margin-top: 24px;
    color: $medium-gray;
    max-height: 100%;
    p {
      font-size: 30px;
      @media (min-width: 992px) {
        font-size: 18px;
      }
    }
    h5 {
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 20px;
      @media (min-width: 992px) {
        font-size: 20px;
      }
    }
  }
  #technical-details{
    margin-top: 24px;
    color: $medium-gray;
    max-height: 100%;
    p {

      font-size: 30px;

      @media (min-width: 992px) {
        font-size: 18px;
      }
    }
    a{
      color: $medium-gray;
    }
    a:hover{
      text-decoration: none;
      color: rgba(108, 108, 108, 0.5)
    }
  }
  #reviews{
    max-height: 438px;
    word-break: break-all;
  }
}


#review-form{
  margin-top: 24px;

  .form-end-line {
    align-items: center;
  }

  .rating{
    display: flex;
    align-items: center;
  }

  .rating label {
    margin-bottom: 0;
  }
  .button-green{
    padding: 1px 30px;
    font-weight: normal;
    border: 0px;
  }


}

.card-review{
  background-color: white;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 4px;

  img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 16px;
    box-shadow: 1px 1px 10px #00000014;
  }

  .review-user {
    p:first-child {
      margin-bottom: 0;
      font-size: 26px;
      @media (min-width: 992px) {
        font-size: 16px;
      }
    }

    p:last-child {
      color: rgb(148, 148, 148);
      font-size: 26px;
      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  .dropdown {
    i {
      padding: 10px;
      color: #a5a5a5;
      cursor: pointer;
      font-size: 34px;
      @media (min-width: 992px) {
        font-size: 20px;
      }
    }

    a {
      color: #404040;
      padding: 0 20px;
      font-size: 26px;
      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  span {
    font-size: 24px;
    color: #ffeb41;
  }

  .review-description {
    margin-top: 10px;

    p {
      color: #7b7b7b;
      font-weight: 300;
      margin: 0px;
      font-size: 28px;
      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }
}

#photo-card-route-setter {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.avatar_photo_card{
  display: flex;
  margin-top: 8px;

  p {
  margin-left: 8px;
  }
}

.full-height-profile{
  //overflow-y: scroll;
}

.map-card{
  border-radius: 5px;
}

.card-route-index-info{
    padding: 16px;
    i {
      position: absolute;
      right: 16px;
      top: 16px;
      color: #C8C8C8;
      transition: 0.3s;
    }
    i:hover {
      color: #42433e;
    }
}

.profile-card {
  color: $medium-gray;
}


.center-tech-detail {
  padding-left: 10px;
  padding-right: 10px;

}

.route-info {
  display: flex;
  justify-content: space-between;
}

#card-route-setter-page{
  box-shadow: 2px 2px 6px $light-gray;
  margin: 10px;
}

.rating:not(:hover) label input:checked ~ .icon, .rating:hover label:hover input ~ .icon{
  color: #ffeb41 !important;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #ffeb41 !important;
}

.card-add-route{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 20px;

  i{
    color: black;
    margin-right: 15px;
  }
  h2{
    font-size: 20px;
  }
}
