#index-container{
  max-width: 1000px;
  margin: 24px auto;
  min-height: calc(100vh - 56px - 80px - 48px);
  @media (min-width: 576px) {
    margin: 24px;
  }
  @media (min-width: 992px) {
    max-width: 1000px;
    margin: 24px auto;
  }
  #map{
    width: 100%;
    height: 40vh;
    @media (min-width: 576px) {
      width: 100%;
      height: 40vh;
      margin-bottom: 24px;
    }
    @media (min-width: 992px) {
      width: 100%;
      height: 100vh;
    }
  }
}
.index-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  @media (min-width: 576px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}
.index-container-grid a:hover{
  text-decoration: none;
}
.pagination-container{
  max-width: 300px;
  padding: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.pagination{
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  #current-page{
    background-color: rgba(138, 236, 135, 0.8);
  }
  a{
    color: black;
    border-radius: 4px;
    text-align: center;
  }
}

#show-container{
 margin: 0 auto;
}

#review-form{
  margin-top: 24px;
  .button-green{
    padding: 1px 30px;
    font-weight: normal;
  }
}



.full-height {
  display: flex;
  align-items: center;
}

.calendar {
  margin-top: 10px;
}
#trip-confirmation {
  border-radius: 10px;
}


