 .log-in-card {
   width: 400px;
   height: 72vh;
   margin:  16px auto;
   background-color: white;
   padding: 24px;
   border-radius: 5px;
   text-align: center;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   .button-green {
    margin-bottom: 140px;
    width: 80%;
   }
 }
// #remember-me-input {
//   margin-bottom: 50px;
// }
// .form-check-label {
//   margin-bottom: 20px;
// }
