.navbar-lewagon-2 {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100vw;
  top: 0;
}

.navbar-lewagon-2 .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-2 .navbar-brand img {
  width: 60px;
}
#navbarSupportedContent-2 a {
  color: white;
}

