.navbar-lewagon-2 {
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  position: absolute;
  width: 100vw;
  top: 0;

}

.navbar-lewagon-2 .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-2 .navbar-brand img {
  width: 60px;
}
.nav-div-landing-page {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  width: 250px;
  float: right;
  /* border: 1px solid red; */
  justify-content: space-evenly;
}


.nav-link-landing-page {
  color: white;
  }

.nav-link-landing-page:hover {
  color: #afb9c0;
}

.dropdown-item i {
  color: black;
}

.navbar {
  color: white;
  .nav-link {
    margin-bottom: 0;
  }
}

.nav-div {
  height: 100%;
  display: flex;
  align-items: center;
  width: 250px;
  float: right;
  /* border: 1px solid red; */
  justify-content: space-evenly;
}

.navbar-light .navbar-nav {
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}