.navbar-lewagon-2 {
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  position: absolute;
  width: 100vw;
  top: 0;

}

.navbar-lewagon-2 .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-2 .navbar-brand img {
  width: 60px;
}
.nav-div-landing-page {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  width: 250px;
  float: right;
  /* border: 1px solid red; */
  justify-content: space-evenly;
}
.nav-div-landing-page .nav-link-landing-page {
  color: white;
}
.dropdown-item i {
  color: black;
}

.nav-link {
  margin-bottom: 0;
}

.nav-div {
  height: 100%;
  display: flex;
  align-items: center;
  width: 250px;
  float: right;
  /* border: 1px solid red; */
  justify-content: space-evenly;
}