.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 70px;
}
.logo-navbar{
  height: 60px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.form-control {
  border-radius: 4px;
  width: 350px;
}
.navbar-light .navbar-nav .nav-link {
  color: $medium-gray;
}
