.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 88px;
  @media (min-width: 992px) {
    height: 56px;
  }
}
.logo-navbar{
  height: 56px;
  @media (min-width: 992px) {
    height: 40px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.form-control {
  border-radius: 4px;
  width: 350px;
}
.navbar-light .navbar-nav .nav-link {
  color: $medium-gray;
}

.dropdown-item {
	color: $medium-gray;
}
