

.container {
  padding-top: 10px;
}

.trip {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  height: fit-content;
  margin: 18px 0;
  .card-route-info {
    display: block;
  }
}
.card-route {
  .next-trip:first-child {
    margin-top: 20px;
  }

  .next-trip:last-child {
    margin-bottom: 40px;
  }

}
.card-route-info img {
  border-radius: 50%;
}
.card-sport:hover{
  transform: scale(1.05);
}
.sports-cards a:hover{
  text-decoration: none;
}

.form-card-route-setter {
  // width: 600px;
  margin-right: 20px;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .user-info{
    margin-left: 30px;
  }
  .add-route {
  
  margin-left: 15px;
}
}
.form-card-route-setter h1{
  text-align: center;
}
.form-card-route-setter h2 {
  text-align: center;
}
.form-card-route-setter .btn{
  border-radius: 20px;
  width: 64vh;
}
.form-card-route-setter .form-group{
  margin: 10px 0;
}
.form-card-route-setter img {
  border-radius: 50%;
  justify-content: center;
}
.form-card-route-setter select{
  border: 1px solid #ced4da;
  background-color: white;
  color: #6d767e;
}

#profile-routes-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: center;
}
.route-setter-page {
  padding: 0;
  display: grid;
  
  @media (min-width: 576px) {
    //grid-template-columns: 1fr;
    padding: 0;
    margin-top: 16px;
  }
  @media (min-width: 992px) {
    //grid-template-columns: 1fr 1fr;
    padding: 24px;
    margin-top: 0;
  }
}
.form-card2 {
  margin-top: 64px;
}


