.form-card {
  width: 600px;
  margin:  16px auto;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  float: left;
}
.form-card h1{
  text-align: center;
}
.form-card h2 {
  text-align: center;
  color: $medium-gray;
}
.form-card .btn{
  border-radius: 20px;
}
.form-card .form-group{
  margin: 10px 0;
}
.form-card img {
  border-radius: 50%;
  justify-content: center;
  margin-left: 20px;
}
.form-card select{
  border: 1px solid #ced4da;
  background-color: white;
  color: #6d767e;
}
.full-height {
  display: flex;
  align-items: center;
}
.form-control.is-valid {
  border-bottom: 3px solid rgb(211, 211, 211);
  border: none;
  width: 100%;
}

#profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  align-self: stretch;
  @media (min-width: 992px) {
      // top: 20px;
      // position: sticky;
  }
  img {
   border-radius: 50%;
  }
  h3{
    color: $medium-gray;
  }
  p {
   color: $medium-gray;
  }
}

#profile-page {
  min-height: calc(100vh - 220px);
}

#profile-page .profile-header {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
}

.profile-header.my-profile {
    justify-content: space-between;
}

.profile-header.other-profile {
    justify-content: center;
}



.add-route {
  .button-green {
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 8px;
  }
}

#profile-page {
  // display: grid;
  // grid-template-columns: 1fr;
  // @media (min-width: 576px) {
  //   grid-template-columns: 1fr;
  // }
  @media (min-width: 992px) {
    // grid-template-columns: 1fr 1fr;
  }
}


.profile-card {
  color: $medium-gray;
  flex: 0 0 45%;
  align-self: stretch;
}


.followers {
  display: flex;
  margin: 10px 0;

  h6 {
    color: $medium-gray;
    margin-top: 18px;
  }
  img {
    margin: 0px 12px;
  }
}

#validate-trip{
width: 100%;
background-color: #dc4d4d;
}
// .profile-form {
//   width: 100%;
// }

h4.subtitle {
  text-transform: uppercase;
  color: #bababa;
  font-weight: 300;
  font-size: 20px;
}


// INVITE TRIPS CARDS

.profile-invites-trips {
  margin-bottom: 24px;
  a {
    color: $medium-gray;
  }
  a:hover {
    text-decoration: none !important;
  }
}

.invite-trip-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 30%;
    max-height: 150px;
    object-fit:cover;
    flex: 0 0 25%;
  }

  .invite-trip-info {
    flex: 1 0 auto;
    padding-left: 16px;
  }

  h4 {
    font-size: 22px;
    color: $medium-gray;
  }
}


// NEXT TRIPS CARDS

.next-trips {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.next-trip-card {
  a:hover {
    text-decoration: none;
  }
}

.next-trip {
  height: 340px;
  transition: 0.5s;
  margin-bottom: 16px;
  background: white;
  border-radius: 4px;

  &:hover {
    transform: scale(1.02);
  }
  img {
    height: 290px;
    width: 100%;
    object-fit: cover;
  }
  .card-route-info {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h6, p {
    margin: 0;
    color:#757575;
  }
}
#trip-add-a-route {
  color: black;
  font-size: 24px;
  padding: 0 68px;
  margin-top: 30%;
  display: flex;
  align-items: center;
}
#profile-plus-add{
  margin-right: 8px;
}

// PAST TRIPS

.past-trips-container {
  margin-top: 32px;
  background: none;
  h4 {
    color: $medium-gray;
    text-align: center
  }

}

#past-trip-cards-index {
  padding: 24px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.past-trip-card {
  flex: 0 0 45%;
}


