.container {
  padding-top: 10px;
}
.card-route {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.5s;
  border-radius: 4px;
}
.card-route:hover{
  transform: scale(1.05);
}
.card-route > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-route h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}
.card-route p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}
.card-route .card-route-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-route-info img {
  border-radius: 50%;
}
.sports-cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 16px;
}
.sport-cards {
  background-size: cover;
  background-position: center;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.5s;
  margin: 16px 0;
}
.card-sport:hover{
  transform: scale(1.05);
}
.sports-cards a:hover{
  text-decoration: none;
}

.form-card-route-setter {
  width: 600px;
  margin-right: 20px;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  float: left;
}
.form-card-route-setter h1{
  text-align: center;
}
.form-card-route-setter h2 {
  text-align: center;
}
.form-card-route-setter .btn{
  border-radius: 20px;
}
.form-card-route-setter .form-group{
  margin: 10px 0;
}
.form-card-route-setter img {
  border-radius: 50%;
  justify-content: center;
  margin-left: 20px;
}
.form-card-route-setter select{
  border: 1px solid #ced4da;
  background-color: white;
  color: #6d767e;
}
#profile-avatar{
  height: 100vh;
  position: sticky;
  top: 0;
}
.cards-route {
  flex-grow: 1;
}
#sport-cards-index {
  padding: 24px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
}
#card-route-setter-page {
  margin-top: 10px;
}


























