<h1>This is the routes page</h1>
<p>We will view all the routes associated to a search query!!</p>



#mapbox
<div class='map-card'
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


