<%= render partial: "shared/navBar" %>

<div id="index-container">

  <h1>Suggestions</h1>

  <div class="index-container-grid">
    <div class="tab-content">
      <div id="ajax-cards–container">
        <%= render "cards-container" %>
      </div>
    </div>

    <div>
      <div class='map-card'
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>


